* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

button {
  border: none;
  outline: none;
  background-color: transparent;
}

body {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  background-color: #202632;
  color: #fff;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.advice {
  background-color: #313a49;
  padding: 50px;
  border-radius: 15px;
  margin: 0 30px ;
  text-align: center;
 
  @media (max-width: 991px) {
    max-width: 100%;
  }
 
  @media (min-width: 992px) {
    max-width: 30%;
  }
  h1 {
    color: #59ae88;
    margin-bottom: 30px;
    font-size: 14px;
  }

  h1 + q {
    margin-bottom: 30px;
    display: block;
    font-size: 20px;
    font-weight: bolder;
  }

  button {
    background-color: #53ffa7;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    padding: 12px;
    cursor: pointer;
    position: relative;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 150%);
  }

  picture img {
    max-width: 100%;
  }
}
